section {
  background-color: gold;
}
#card {
  background-color: silver;
  margin: 10px 0;
}
html {
  background-color: gold;
}
button {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
